*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-text: #385170;
  --color-background: #fff;
  --color-link: #385170;
  --color-accent: #dbdbdb;
  --gutter: 0.5rem;
  --thumb-max-height: 15rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #999797;
    --color-background: #000;
    --color-link: #999797;
    --color-accent: #2f3336;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 80%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

@media (min-width: 40em) {
  body {
    font-size: 90%;
  }
}

a {
  color: var(--color-link);
}

p {
  margin-block-start: 0;
}

code {
  line-height: 2.5;
}

blockquote {
  border-inline-start: 5px solid var(--color-accent);
  margin-inline: var(--gutter);
  padding-inline: var(--gutter);
}

input,
button,
select {
  height: 2.5rem;
  padding-inline: var(--gutter);
}

input,
select {
  width: 100%;
}

.header {
  padding: var(--gutter);
}

.header__title {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.loader {
  align-items: center;
  display: grid;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.message {
  align-items: center;
  display: grid;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.thumbnail {
  aspect-ratio: var(--ar-width) / var(--ar-height);
  background-color: var(--color-accent);
  height: auto;
  object-fit: contain;
  width: 100%;
}

.thumbnail-wrap {
  position: relative;
}

.thumbnail__hd {
  position: absolute;
  right: var(--gutter);
  top: var(--gutter);
}

.thumbnail--video::-webkit-media-controls-volume-slider {
  display: none;
}

.thumbnail--video::-webkit-media-controls-mute-button {
  display: none;
}

.thumbnail--video::-webkit-media-controls-volume-slider-container {
  display: none;
}

.main {
  contain-intrinsic-size: 1px 5000px;
  content-visibility: auto;
}

.subreddit {
  font-weight: bold;
}

.select {
  background-color: transparent;
  border: 0;
  color: var(--color-text);
  width: 100%;
}

.select:focus {
  outline: 0;
}

.refresh {
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
}

.filters {
  background-color: var(--color-background);
  border-top: 1px solid var(--color-accent);
  bottom: 0;
  padding-inline: var(--gutter);
  position: fixed;
  width: 100%;
  z-index: 1;
}

@media (max-width: 25em) {
  .label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.form-groups {
  align-items: center;
  border: 0;
  display: flex;
  gap: var(--gutter);
  justify-content: space-between;
  margin: 0;
  padding-block: var(--gutter);
}

@media (min-width: 40em) {
  .form-groups {
    justify-content: start;
  }
}

.fieldset {
  align-items: center;
  border: 0;
  display: flex;
  gap: var(--gutter);
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.form-group {
  align-items: center;
  border: 0;
  display: flex;
  gap: var(--gutter);
  justify-content: space-between;
  margin: 0;
}

.load-more {
  display: block;
  height: 2.5rem;
  margin-block: calc(var(--gutter) * 10);
  width: 100%;
}

@media (min-width: 40em) {
  .load-more {
    display: inline-block;
    margin-inline: auto;
    width: auto;
  }
}

.load-more.is-loading {
  opacity: 0.5;
  pointer-events: none;
}

.post {
  position: relative;

  &:after {
    background-color: var(--color-accent);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.post:not(:only-child) {
  border-bottom: 1px solid var(--color-accent);
  padding-block-end: var(--gutter);
}

.post__info {
  padding-inline: var(--gutter);
}

.post__subreddit {
  font-size: 65%;
}

.post__title {
  font-size: 1rem;
  margin-block: var(--gutter);
}

.post__link {
  display: block;
  line-height: 1.3;
  text-decoration: none;
  word-break: break-word;
}

.post__description {
  max-height: 15rem;
  overflow: auto;
  width: 100%;
  word-break: break-word;

  & a {
    display: none;
    word-break: break-all;
  }
}

.post__description pre {
  overflow: auto;
}

.post__data {
  font-size: 80%;

  & dt,
  & dd {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  & dt {
    padding-inline-end: 0.25rem;
  }

  & dd:not(:last-child) {
    margin-inline-end: var(--gutter);
  }
}

@media (prefers-color-scheme: dark) {
  .post__data dt,
  .comment,
  .post__description,
  .post__title {
    filter: grayscale(100%);
  }
}

.post__comments {
  padding-block-start: var(--gutter);

  & a {
    word-break: break-all;
  }
}

.list {
  display: grid;
  gap: var(--gutter);
}

@media (min-width: 40em) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    padding-inline: var(--gutter);
  }
}

.toaster {
  padding: var(--gutter);
  text-align: center;
}

.youtube {
  display: block;
  position: relative;
}

.youtube__logo {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.comment {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-accent);
    margin-block-end: var(--gutter);
  }
}

.comment__rating {
  font-size: 65%;
  font-weight: bold;
}

.comment__body {
  border-inline-start: 2px solid var(--color-accent);
  padding-inline-start: var(--gutter);
}

@media (min-width: 40em) {
  .gallery {
    display: grid;
    gap: var(--gutter);
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));

    & > * {
      max-height: var(--thumb-max-height);
    }

    & > * img {
      height: 100% !important;
    }
  }
}

.post-link {
  display: block;
  padding: var(--gutter);
  word-wrap: break-word;
}

@media (min-width: 40em) {
  .thumbnail {
    max-height: var(--thumb-max-height);
  }
}
