*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-text: #385170;
  --color-background: #ececec;
  --color-link: #385170;
  --color-separator: #dbdbdb;
  --gutter: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ececec;
    --color-background: #000;
    --color-link: #dde6ed;
    --color-separator: #2f3336;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 80%;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-link);
}

.header {
  padding: var(--gutter);
}

.header__title {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.loader {
  align-items: center;
  display: grid;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.thumbnail {
  aspect-ratio: var(--ar-width) / var(--ar-height);
  height: auto;
  object-fit: contain;
  width: 100%;
}

.thumbnail--video::-webkit-media-controls-volume-slider {
  display: none;
}

.thumbnail--video::-webkit-media-controls-mute-button {
  display: none;
}

.thumbnail--video::-webkit-media-controls-volume-slider-container {
  display: none;
}

.main {
  contain-intrinsic-size: 1px 5000px;
  content-visibility: auto;
}

.subreddit {
  font-weight: bold;
}

.select {
  background-color: transparent;
  border: 0;
  color: var(--color-text);
  width: 100%;
}

.select:focus {
  outline: 0;
}

.refresh {
  aspect-ratio: 1/1;
  height: 2.5rem;
  margin: 0;
  padding: 0;
}

.filters {
  background-color: var(--color-background);
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

@media (max-width: 25em) {
  .label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.fieldset {
  align-items: center;
  border: 0;
  display: flex;
  gap: var(--gutter);
  justify-content: space-between;
  margin: 0;
  padding: var(--gutter);
}

.load-more {
  display: block;
  height: 2.5rem;
  margin-top: var(--gutter);
  width: 100%;
}

.load-more.is-loading {
  opacity: 0.5;
  pointer-events: none;
}

.post:not(:only-child) {
  border-bottom: 1px solid var(--color-separator);
  padding-block-end: var(--gutter);
}

.post__info {
  padding-inline: var(--gutter);
}

.post__title {
  font-size: 1rem;
  margin-block: var(--gutter);
}

.post__link {
  display: block;
  text-decoration: none;
  word-break: break-all;
}

.post__description {
  word-break: break-all;
}

.post__subreddit {
  font-weight: bold;
}

.list {
  display: grid;
  gap: var(--gutter);
}

@media (min-width: 40em) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
  }
}

.toaster {
  padding: var(--gutter);
  text-align: center;
}
